@use './variables.scss';

%base-button {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.primary {
	@extend %base-button;
	background: variables.$blue-purple-gradient;
	border-radius: 10rem;
	padding: 13px 28px 14px;
	border: none;
	color: white;
	transition: background-size 150ms cubic-bezier(0.46, -0.01, 0.39, 1.03),
		background-color 150ms ease;
	background-size: 100%;
}
.primary:hover {
	background-size: 300%;
	transition: background-size 300ms cubic-bezier(0.46, -0.01, 0.39, 1.03),
		background-color 300ms ease;
}
.primary:disabled {
	background: white;
	border: 1px solid #bbbfc4;
	color: variables.$gray-70;
	cursor: not-allowed;
}

.primary-on-dark-background {
	@extend .primary;
	background: variables.$text-bg;
	color: variables.$text-fg;
}
.primary-on-dark-background:hover {
	background: rgb(245, 245, 245);
}

.secondary {
	@include variables.gradient-text-overlay;
	position: relative;
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.secondary:after {
	content: '';
	background: variables.$blue-purple-gradient;
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.secondary:hover {
	@include variables.unset-gradient-text-overlay;
	color: blue;
}
.secondary:hover:after {
	background: blue;
}
.secondary:disabled {
	background: white;
	color: variables.$gray-70;
}

.secondary-on-dark-background {
	@extend .secondary;
	@include variables.unset-gradient-text-overlay;
	background: variables.$text-bg;
	color: variables.$text-fg;
}
.secondary-on-dark-background:after {
	background: white;
}

.donate-amt {
    @extend %roboto-condensed;
    background: white;
    border: 1px solid variables.$gray-light;
    border-radius: 2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    font-size: 2.5vh;
    margin-right: 1em;
    padding: 0.5em 1em;
}

.donate-amt:hover {
    background-color: variables.$blue;
    color: white;
}

@media screen and (max-width: 830px) {
	.donate-amt {
		margin-bottom: 1em;
	}
}

.active {
	background: variables.$blue-purple-gradient;
	color: white;
}

