@use './variables.scss';

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	box-sizing: content-box;
	min-width: 320px;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a,
button {
	&:hover {
		cursor: pointer;
	}
}

hr {
	height: 5px;
	border: none;
	background: variables.$blue-purple-gradient;
	margin: 50px 0;
}

p {
	white-space: break-spaces;
}
