@use './variables.scss';

// no feature photo
.page-container--row {
    display: flex;
    flex-direction: row;
    min-height: 56vw;
}

.logo-container {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 1rem;
}

.logo {
    background: variables.$blue-purple-gradient;
    border-radius: 50%;
    height: auto;
    padding-top: 33%;
    position: relative;
    width: 33%;
}

.logo span {
    color: variables.$text-bg;
    font-size: 2rem;
    font-weight: bold;
    left: 42%;
    position: absolute;
    top: 42%;
}
// -- end no feature photo

// with feature photo
.page-container--column { 
    display: flex;
    flex-direction: column;
    min-height: 80%;
}

.page-container--column div:after {
    // remove "fade" pseudo-element from <FeaturePhoto /> component
    display: none;
}
// -- end with feature photo

// shared styles
.page-content {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    padding: 1rem;
}

// mobile styles
@media screen and (max-width: 1020px) {
    .page-container--row {
        flex-direction: column;
    }

    .logo-container {
        display: none;
    }

	.page-content {
        max-width: 95%;
    }

    .page-content img {
        max-width: 100%;
    }
}