.container {
    padding-bottom: 2vw;
    text-transform: uppercase;
}

.title {
    font-size: 1.75rem;  
    font-weight: bold;
}

.schedule {
    font-size: 1em;
    font-weight: bold;
    line-height: 150%;
}