@use './variables.scss';

.container {
	margin-bottom: 60px;
}

.description {
	font-weight: 900;
	font-size: 22px;
}

@media screen and (max-width: 750px) {
	.container {
		display: none;
	}
}

.bin {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 35px;
}
.bin:first-of-type {
	margin-top: 45px;
}

.bar {
	@extend %roboto-condensed;
	position: absolute;
	background: #4f4f4f;
	height: 100%;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: white;
}

.split-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.split-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.months {
	@extend %roboto-condensed;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	color: variables.$gray-4;
}

.month {
}
